<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wedding Invitation</title>
  <style>
    body {
      background: purple;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }

    .card {
      background: white;(128, 5, 5);
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: inline-block;
    }

    h1 {
      color: #c08e7d;
      margin-bottom: 10px;
    }

    .names {
      font-size: 24px;
      color: #a3685a;
      margin: 20px 0;
    }

    .info {
      color: #555;
      font-size: 16px;
      line-height: 1.5;
    }
  </style>
</head>
<body>
  <div class="card">
    <h1>You’re Invited!</h1>
    <div class="names">Mohamed & Mayada</div>
    <div class="info">
      Sep 14, 2025 -5:00 PM<br>
      Garden Palace ,Gateshead<br>
     
    </div>
  </div>
</body>
</html>